<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.administration.account.dao.AccountCardMapper">
  <resultMap id="BaseResultMap" type="com.administration.account.pojo.AccountCard">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  
</mapper>