<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.administration.apply.dao.ApplyPasswordMapper">
  <resultMap id="PasswordMap" type="com.administration.apply.pojo.ApplyPassword">
    
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login" jdbcType="BIGINT" property="login" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="approve_user" jdbcType="BIGINT" property="approveUser" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="total" jdbcType="VARCHAR" property="total"/>
  </resultMap>
  
  <select id="findPassword" parameterType="java.util.Map" resultMap="PasswordMap">
     select *,(select count(1) from apply_password) as total
      FROM apply_password 
     <trim prefix="WHERE" suffixOverrides=" and">
       <if test="login!=null">
          login=#{login}
       </if>
       <if test="status!=null">
        and status=#{status}
       </if>
     </trim>
<!--      	LIMIT ${pagefirst},${pagelast} -->
  </select>
  
</mapper>